In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/home/pict/Downloads/dataset_Facebook.csv", sep=";")

In [3]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [4]:
print("Shape : ", df.shape)

Shape :  (500, 19)

In [5]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [7]:
print("Columns : ")
for i in list(df.columns):
  print(i)

Columns :
Page total likes
Type
Category
Post Month
Post Weekday
Post Hour
Paid
Lifetime Post Total Reach
Lifetime Post Total Impressions
Lifetime Engaged Users
Lifetime Post Consumers
Lifetime Post Consumptions
Lifetime Post Impressions by people who have liked your Page
Lifetime Post reach by people who like your Page
Lifetime People who have liked your Page and engaged with your post
comment
like
share
Total Interactions

In [8]:
for i in df.columns:
  print(i , " : " ,(df[i].isnull().sum() / df.shape[0])*100)

Page total likes  :  0.0
Type  :  0.0
Category  :  0.0
Post Month  :  0.0
Post Weekday  :  0.0
Post Hour  :  0.0
Paid  :  0.2
Lifetime Post Total Reach  :  0.0
Lifetime Post Total Impressions  :  0.0
Lifetime Engaged Users  :  0.0
Lifetime Post Consumers  :  0.0
Lifetime Post Consumptions  :  0.0
Lifetime Post Impressions by people who have liked your Page  :  0.0
Lifetime Post reach by people who like your Page  :  0.0
Lifetime People who have liked your Page and engaged with your post  :  0.0
comment  :  0.0
like  :  0.2
share  :  0.8
Total Interactions  :  0.0

In [9]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [10]:
df.describe(include=['O']).T

     count unique    top freq
Type   500      4  Photo  426

In [11]:
df['Type'].value_counts()

Photo     426
Status     45
Link       22
Video       7
Name: Type, dtype: int64

# 1. Creating data subsets based on "Type"

### i) Photo

In [12]:
df_photo = df[df['Type']=="Photo"]
df_photo.shape

(426, 19)

In [13]:
df_photo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     426 non-null    int64
 1   Type                                                                 426 non-null    object
 2   Category                                                             426 non-null    int64
 3   Post Month                                                           426 non-null    int64
 4   Post Weekday                                                         426 non-null    int64
 5   Post Hour                                                            426 non-null    int64
 6   Paid                                                                 425 non-null    float64
 7   Lifetime Post Total Reach                                            426 non-null    int64
 8   Lifetime Post Total Impressions                                      426 non-null    int64
 9   Lifetime Engaged Users                                               426 non-null    int64
 10  Lifetime Post Consumers                                              426 non-null    int64
 11  Lifetime Post Consumptions                                           426 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         426 non-null    int64
 13  Lifetime Post reach by people who like your Page                     426 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  426 non-null    int64
 15  comment                                                              426 non-null    int64
 16  like                                                                 425 non-null    float64
 17  share                                                                422 non-null    float64
 18  Total Interactions                                                   426 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 66.6+ KB

In [14]:
df_photo.describe().T

,count,mean,std,min,25%,50%,75%,max
Page total likes,426.0,122354.171362,16324.528694,81370.0,109670.00,128032.0,136013.00,139441.0
Category,426.0,1.917840,0.884007,1.0,1.00,2.0,3.00,3.0
Post Month,426.0,6.805164,3.234676,1.0,4.00,7.0,10.00,12.0
Post Weekday,426.0,4.107981,2.056286,1.0,2.00,4.0,6.00,7.0
Post Hour,426.0,7.997653,4.413082,1.0,3.00,9.0,11.00,23.0
Paid,425.0,0.280000,0.449528,0.0,0.00,0.0,1.00,1.0
Lifetime Post Total Reach,426.0,13137.814554,22877.787010,238.0,3092.50,4675.0,10571.00,180480.0
Lifetime Post Total Impressions,426.0,28994.497653,80957.921337,570.0,5390.00,8118.5,17013.75,1110282.0
Lifetime Engaged Users,426.0,818.946009,868.447092,9.0,399.00,605.5,949.00,11452.0
Lifetime Post Consumers,426.0,690.431925,731.712670,9.0,335.00,528.5,832.25,11328.0
Lifetime Post Consumptions,426.0,1299.025822,1965.996628,9.0,513.00,827.0,1327.50,19779.0
Lifetime Post Impressions by people who have liked your Page,426.0,16422.483568,64501.486772,567.0,3695.25,5498.0,9823.00,1107833.0
Lifetime Post reach by people who like your Page,426.0,6059.103286,7819.018244,236.0,2100.25,3110.0,5577.00,51456.0
Lifetime People who have liked your Page and engaged with your post,426.0,507.305164,399.972665,9.0,300.25,403.0,569.75,3430.0
comment,426.0,7.492958,22.522275,0.0,1.00,3.0,7.00,372.0
like,425.0,182.611765,345.245233,0.0,57.00,100.0,186.00,5172.0
share,422.0,27.158768,44.919679,0.0,10.00,19.0,32.00,790.0
Total Interactions,426.0,216.579812,405.709232,0.0,71.25,122.0,225.00,6334.0

### ii) Status

In [15]:
df_status = df[df['Type']=="Status"]
print("Status : ",df_status.shape)

Status :  (45, 19)

### iii) Link

In [16]:
df_link= df[df['Type']=="Link"]
print("Link : ",df_link.shape)

Link :  (22, 19)

### iv) Video

In [17]:
df_video = df[df['Type']=="Video"]
print("Video : ",df_video.shape)

Video :  (7, 19)

# 2. Merge any 2 subsets

In [18]:
status_link_dataframe = pd.concat([df_status, df_link])
status_link_dataframe.shape

(67, 19)

# 3. Sort

In [19]:
df.sort_values(['Page total likes','Lifetime Post Total Reach'], ascending=[1,0])

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80

# 4. Transpose

In [20]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

# 5. Shape and Reshape

In [21]:
print("Total Shape: ", df.shape)

Total Shape:  (500, 19)

In [22]:
df_reshape = df.dropna()
df_reshape

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [23]:
df_reshape.shape

(495, 19)

In [24]:
df_reshape2 = pd.melt(df_photo,id_vars=["Type"],value_vars=['Post Month'])
df_reshape2

      Type    variable  value
0    Photo  Post Month     12
1    Photo  Post Month     12
2    Photo  Post Month     12
3    Photo  Post Month     12
4    Photo  Post Month     12
..     ...         ...    ...
421  Photo  Post Month      1
422  Photo  Post Month      1
423  Photo  Post Month      1
424  Photo  Post Month      1
425  Photo  Post Month      1

[426 rows x 3 columns]

In [25]:
df_reshape2.shape

(426, 3)